@import url(../shared/variables.css) layer(patters);
@import url(../shared/scrollbar.css) layer(patterns);
@import url(../shared/blog-header.css) layer(header);

@layer patterns {
  * {
    box-sizing: border-box;
  }

  html {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 16px;
  }

  body {
    margin: 0;
  }
  
  body, h1, p {
    margin: 0;
  }
  
  h1 {
    font-size: 2rem;
  }
}

@layer header {

}

@layer back-to-home-aside {
  aside.back-to-home {
    position: fixed;
  
    width: 5rem;
    height: 5rem;
  
    margin: 1.5rem 0 0 1.5rem;
  
    background-color: var(--primary);
    border-radius: 100%;
    padding: 8px;
  
    box-shadow: var(--shadow);
  
    transition: 0.4s all ease;
  }
  
  aside.back-to-home:hover{
    transform: translateY(-2px);
  }
  
  aside.back-to-home > a {
    width: 100%;
    height: 100%;
  }
  
  aside.back-to-home > a > img{
    width: 100%;
    height: 100%;
  
    padding: 0.1rem;
    opacity: 0.7;
  
    transition: 0.4s all ease;
  }
  
  aside.back-to-home:hover > a > img{
    opacity: 1;
  }
}

@layer main {
  main#container {
    width: 55%;
    max-width: 1360px;
    margin: 0 auto;
  }
}

@layer post {
  .post {
    width: 100%;
    height: 100%;
    padding: 0 0 3.5rem 0;
    margin: 1rem 0 0 0;
  
    border-radius: 0 0 8px 8px;
    box-shadow: var(--shadow);
  }
  
  .post > header {
    width: 100%;
    height: 40vh;
  }
  
  .post > header > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .post > div {
    height: 100%;
    padding: 0 3.5rem;
  }
  
  .post > div > h1 {
    font-weight: 500;
    color: var(--title);

    padding: 1.5rem 0;
  }
  
  .post > div > p {
    font-size: 1rem;
    font-weight: 300;
    color: var(--gray);
  }
}

@layer comments {
  #comments-container {
    width: 100%;
  
    padding: 1rem 0 0.5rem 0;
    margin: 4rem 0 0 0;
  
    box-shadow: var(--shadow);
  }
  
  blockquote.comment {
    padding: 0 0 1rem 0;
    border-bottom: 0.5px solid rgba(87, 87, 87, 1);
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  }
  
  blockquote.comment .user {
    display: inline-block;
  }

  blockquote.comment .user > * {
    font-weight: 600;
    color: var(--title);
  }
  
  blockquote.comment .text {
    display: inline;
    font-weight: 200;
    color: var(--gray);
  }
}

@layer responsiveness {
  @media(max-width: 1280px) {
    html {
      font-size: 14px;
    }
  }

  @media(max-width: 960px) {
    main#container {
      width: 70%;
    }
  }

  @media(max-width: 600px) {
    main#container {
      width: 90%;
    }

    .post > div {
      padding: 0 2rem;
    }

    blockquote.comment {
      margin-left: 2rem;
      margin-right: 2rem;
    }

    html {
      font-size: 13px;
    }
  }
}