@import url(./shared/variables.css) layer(patters);
@import url(./shared/scrollbar.css) layer(patterns);
@import url(./shared/blog-header.css) layer(header);

@layer patterns {
  * {
    box-sizing: border-box;
  }

  html {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 13px;
  }

  body {
    margin: 0;
  }
  
  body, h2, p {
    margin: 0;
  }
  
  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
}

@layer header {

}

@layer main {
  main#container {
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;
  }
  
  .title {
    display: inline-block;
  
    color: var(--title);
    font-size: 36px;
    line-height: 20px;
    font-weight: 600;
  
    margin: 5rem 0 2.8rem 0;
  }
  
  .title-underline {
    display: inline-block;
    width: 100%;
    height: 3px;
  
    background-color: var(--title);
    border-radius: 0 4rem 4rem 0;
  }
}

@layer posts {
  #posts-container {
    width: 100%;
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 60vh;
    grid-gap: 4rem;
  }

  .post {
    width: 100%;
    height: 100%;
    padding: 0 0 2rem 0;
    display: inline-block;
  
    border-radius: 0 0 8px 8px;
    box-shadow: var(--shadow);
  
    cursor: pointer;
    transition: 0.4s all ease;
  }
  
  .post:hover {
    transform: translateY(-5px);
  }
  
  .post > header {
    width: 100%;
    height: 65%;
  }
  
  .post > header > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .post > div {
    height: 30%;
    padding: 0 2rem;
  }
  
  .post > div > h2 {
    height: 40%;
  
    display: flex;
    align-items: center;
  
    color: var(--title);
  }
  
  .post > div > p {
    height: 60%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical; 
  
    color: var(--gray);
  }
  
  .post footer {
    height: 5%;
    padding: 1rem 2rem 0 0;
  
    text-align: end;
  }
  
  .post > footer > a.expand-post {
    font-weight: 700;
    color: var(--title);
    text-decoration: none;
  }
  
  .post > footer > a.expand-post:hover {
    text-decoration: underline;
  }
}

@layer footer {
  footer:last-of-type {
    margin: 0 0 1rem 0;
  }
}

@layer responsiveness {
  @media(max-width: 1280px) {
    html {
      font-size: 10.5px;
    }
  }

  @media(max-width: 960px) {
    #posts-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media(max-width: 600px) {
    #posts-container {
      grid-template-columns: 1fr;
    }
  }
}